### General settings #################################################
ENVIRONMENT=test

### Database connections #############################################
DB_DSN=postgresql://test_exness_test:password@localhost:7432/test_exness_test

POSTGRES_DB=test_exness_test
POSTGRES_USER=test_exness_test
POSTGRES_PASSWORD=password